{% extends 'base.html.twig' %}

{% block title %}Détail d'un apprenant {% endblock %}

{% block body %}
<h1>Fiche apprenant</h1>

<h2>{{ apprenant }}</h2>

<div class="card border-primary mb-3">
    <div class="card-body">
        <p class="card-text">
            {# on utilise un filtre Twig pour formater la date afin de l'afficher #}
            Date de naissance : {{ apprenant.dateNaissance | date("d-m-Y") }} <br>
            Ville : {{ apprenant.ville }} <br>
            Téléphone : {{ apprenant.telephone }} <br>
            Email : {{ apprenant.email }} <br>
        </p>
    </div>    
</div>

<h2>Sessions prévues</h2>
<ul class="list-group">
    {% for session in apprenant.sessions %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <b> {{ session}} </b> du <i> {{ session.dateDebut | date("d-m-Y") }} </i> au <i> {{ session.dateFin | date("d-m-Y") }} </i>
    </li>
    {% endfor %}
    </ul>

<button type="button" class="btn btn-primary">
    <a href="{{ path('edit_apprenant', {'id': apprenant.id}) }}">Editer</a>
</button>

<button type="button" class="btn btn-primary">
    <a href="{{ path('delete_apprenant', {'id': apprenant.id}) }}">Supprimer</a>
</button>

{% endblock %}
