{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}
<h1>Prochaines sessions</h1>

<table>
    <thead>
        <tr>
            <th>Intitulé Session</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Nombre de places</th>
            <th>Nombre de places réservées</th>
            <th>Nombre de places disponibles</th>
            <th>Détail programme</th>
        </tr>
    </thead>
    <tbody>
            {% for session in sessions %}
            <tr>
                <td> {{ session }} </td>
                <td> {{ session.dateDebut | date("d-m-Y") }} </td>
                <td> {{ session.dateFin | date("d-m-Y") }} </td>
                <td> {{ session.nbPlaces }} </td>
                <td>  </td>
                <td>  </td>
                <td> {{ session.programmes | first }} </td>
            </tr>
            {% endfor %}
    </tbody>
</table>

{% endblock %}
