{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}
<h1>Prochaines sessions</h1>

<table>
    <thead>
        <tr>
            <th>Intitulé Session</th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Nombre de places</th>
            <th>Nombre de places réservées</th>
            <th>Nombre de places disponibles</th>
        </tr>
    </thead>
    <tbody>
            {% for session in sessions %}
            <tr>
                <td> <a href="{{ path('show_session', {'id': session.id}) }}"> {{ session }} </a> </td>
                <td> {{ session.dateDebut | date("d-m-Y") }} </td>
                <td> {{ session.dateFin | date("d-m-Y") }} </td>
                <td> {{ session.nbPlaces }} </td>
                <td> {{ session.apprenants | length }} </td>
                <td> {{ session.nbPlaces - session.apprenants | length }} </td>
                {# <td> {{ session.programmes | first }} </td> #}
            </tr>
            {% endfor %}
    </tbody>
</table>

<a href="{{ path('new_session')}}">Ajouter une session</a>

{% endblock %}
