{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}

{% block body %}
<h1>Prochaines sessions</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Intitulé Session</th>
            <th scope="col">Date de début</th>
            <th scope="col">Date de fin</th>
            <th scope="col">Nombre de places</th>
            <th scope="col">Nombre de places réservées</th>
            <th scope="col">Nombre de places disponibles</th>
        </tr>
    </thead>
    <tbody>
            {% for session in sessions %}
            <tr>
                <td class="table-primary"> <a href="{{ path('show_session', {'id': session.id}) }}"> {{ session }} </a> </td>
                <td class="table-primary"> {{ session.dateDebut | date("d-m-Y") }} </td>
                <td class="table-primary"> {{ session.dateFin | date("d-m-Y") }} </td>
                <td class="table-primary"> {{ session.nbPlaces }} </td>
                <td class="table-primary"> {{ session.apprenants | length }} </td>
                <td class="table-primary"> {{ session.nbPlaces - session.apprenants | length }} </td>
                {# <td> {{ session.programmes | first }} </td> #}
            </tr>
            {% endfor %}
    </tbody>
</table>

<button type="button" class="btn btn-primary">
    <a href="{{ path('new_session')}}">Ajouter une session</a>
</button>

{% endblock %}
