{% extends 'base.html.twig' %}

{% block title %}Détail de {{ session.intitule }}{% endblock %}

{% block body %}
<h1>Détail de {{ session.intitule }}</h1>

<table>
    <thead>
        <tr>
            <th>Unité</th>
            <th>Durée</th>
        </tr>
    </thead>
    <tbody>
            {% for programme in session.programmes %}
            <tr>
                <td>{{ programme.unite }}  </td>
                <td> {{ programme.duree }} jour(s) </td>
                {# <td> {{ session.programmes | first }} </td> #}
            </tr>
            {% endfor %} 
    </tbody>
</table>

<h2>Liste des inscrits</h2>
<span>Nombre d'inscrits : {{ session.apprenants | length }} / {{ session.nbPlaces }} </span>
<ul>
    {% for apprenant in session.apprenants %}
        
    <li> {{ apprenant }} </li>
    {% endfor %}
</ul>

<a href="{{ path('edit_session', {'id': session.id}) }}">Editer</a>
<a href="{{ path('delete_session', {'id': session.id}) }}">Supprimer</a>


{% endblock %}