{% extends 'base.html.twig' %}

{% block title %}Détail de {{ session.intitule }}{% endblock %}

{% block body %}
<h1>Détail de {{ session.intitule }}</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Unité</th>
            <th scope="col">Durée</th>
        </tr>
    </thead>
    <tbody>
            {% for programme in session.programmes %}
            <tr>
                <td class="table-primary">{{ programme.unite }}  </td>
                <td class="table-primary"> {{ programme.duree }} jour(s) </td>
                {# <td> {{ session.programmes | first }} </td> #}
            </tr>
            {% endfor %} 
    </tbody>
</table>

<h2>Liste des inscrits</h2>
<span>Nombre d'inscrits : {{ session.apprenants | length }} / {{ session.nbPlaces }} </span>
<ul class="list-group">
    {% for apprenant in session.apprenants %}
        
    <li class="list-group-item d-flex justify-content-between align-items-center"> <a href="{{ path('show_apprenant', {'id':apprenant.id} ) }}"> {{ apprenant }} </a>  </li>
    {% endfor %}
</ul>

<button type="button" class="btn btn-primary">
    <a href="{{ path('edit_session', {'id': session.id}) }}">Editer</a>
</button>

<button type="button" class="btn btn-primary">
    <a href="{{ path('delete_session', {'id': session.id}) }}">Supprimer</a>
</button>


{% endblock %}