{% extends 'base.html.twig' %}

{% block title %}Inscription à {{ session.intitule }}{% endblock %}

{% block body %}
    <h1> Nouvelle Inscription à {{ session.intitule }}</h1>

    {{ form_start(formSignUp) }}
        {{ form_row(formSignUp.apprenants) }}
    {{ form_end(formSignUp) }}

{% endblock %}